@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alice-blue: #f4faffff;
  --platinum: #dee7e7ff;
  --thistle: #b7adcfff;
  --paynes-gray: #4f646fff;
  --davys-gray: #535657ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

.explorer:hover {
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.show {
  transform: translateX(0%);
  transform: translateY(80px);
  pointer-events: all;
}

#searchInput:checked ~ ._search {
  opacity: 1;
}

#searchInput:checked ~ ._ctn ._search-icon {
  opacity: 0;
  display: none;
}
#searchInput:checked ~ ._ctn ._cross-icon {
  opacity: 1;
  width: 20px;
  height: 20px;
  display: flex;

}

#searchInput:checked ~ ._ctn {
  height: 40px;
}

._search {
  background-color: rgba(83, 86, 87, 0.611);
}

#searchInput {
  display: none;
}

.explorer:hover ._bottom_bar {
  transform: translateX(0%);
}