@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alice-blue: #f4faffff;
  --platinum: #dee7e7ff;
  --thistle: #b7adcfff;
  --paynes-gray: #4f646fff;
  --davys-gray: #535657ff;
  --davys-gray-shadow: rgba(83, 86, 87, 0.600);
  --thistle-shadow: rgba(183, 173, 207, 0.8);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

.explorer:hover {
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.show {
  transform: translateX(0%);
  transform: translateY(80px);
  pointer-events: all;
}

#searchInput:checked ~ form ._search {
  opacity: 1;
  pointer-events: all;
}

#searchInput:checked ~ ._ctn ._search-icon {
  opacity: 0;
  display: none;
}
#searchInput:checked ~ ._ctn ._cross-icon {
  opacity: 1;
  width: 20px;
  height: 20px;
  display: flex;

}

#searchInput:checked ~ ._ctn {
  height: 40px;
}

._search {
  pointer-events: none;
  background-color: rgba(83, 86, 87, 0.611);
}

#searchInput {
  display: none;
}

.explorer:hover ._bottom_bar {
  transform: translateX(0%);
}

._hero-carousel {
  height: calc(100vh - 80px);
}

._carousel {
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: hidden; }

  ._carousel .carousel-container {
    position: relative;
    width: 100vw;
    height: 100%;
    transition: transform 1s;
    height: 100%; }

    ._carousel .carousel-container .carousel-post {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 98; }

._show {
  z-index: 99 !important; }

.slide-out-left {
  transform: translateX(-100%);
  transition: .5s; }

.slide-in-right {
  animation: slideInFromRight .5s 1; }

.slide-in-left {
  animation: slideInFromLeft .5s 1; }

.slide-out-right {
  transform: translateX(100%);
  transition: .5s; }

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

._hero-shadow {
  background-color: var(--davys-gray-shadow);
}

._img-carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

._btn-carousel {
  background-color: var(--thistle-shadow);
}

._btn-carousel svg, ._btn-filtre svg {
  transition: transform .3s;
}

._btn-filtre:hover svg {
  transform: rotate(180deg);
}

._btn-carousel:hover svg {
  transform: rotate(180deg);
}
._single + footer {
  display: none;
}

._drop {
  scrollbar-width: 10px;
  overflow-x: scroll !important;
}


._filtre::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

._filtre::-webkit-scrollbar {
  height: 10px;
  display: unset;
}

._filtre {
  -ms-overflow-style:unset;  /* IE and Edge */
  scrollbar-width:unset;  /* Firefox */
}

._filtre::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: thistle;
}