@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alice-blue: #f4faffff;
  --platinum: #dee7e7ff;
  --thistle: #b7adcfff;
  --paynes-gray: #4f646fff;
  --davys-gray: #535657ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}